h1{
  
    font-size: xxx-large;

  }

section{
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}

form input{
    margin: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
img{
  
    position: relative;
    height: 50px;
    width: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
.flexbox{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}
